{% load i18n %}
{% load static %}

{# SIDEBAR #}
{% with request.resolver_match.url_name as url %}
<li class="nav-item">
    <a href="/coworkerencryption" class="nav-link menu-link"><i class="bi bi-person-circle"></i> <span>{% trans 'Coworker' %}</span> </a>
</li>
<li class="nav-item">
    <a href="/shiftencryption" class="nav-link menu-link"><i class="bi bi-calendar-range"></i> <span>{% trans 'Shift' %}</span> </a>
</li>
<li class="nav-item">
    <a href="/teamencryption" class="nav-link menu-link"><i class="bi bi-people-fill"></i> <span>{% trans 'Team' %}</span> </a>
</li>


{% endwith %}
